.greensea {
	background-color: #23AF95 !important;
}

.nephritis {
	background-color: #38BB6B !important;
} 

.pumpkin {
	background-color: #DC6801 !important;
} 

.pomegranate {
	background-color: #CB4B32 !important;
} 

.belizehole {
	background-color: #3893CA !important;
} 

.wisteria {
	background-color: #9F58C0 !important;
}

.greensea-dark {
	background-color: #156959 !important;
}

.nephritis-dark {
	background-color: #227342 !important;
} 

.pumpkin-dark {
	background-color: #7F3C01 !important;
} 

.pomegranate-dark {
	background-color: #752B1D !important;
} 

.belizehole-dark {
	background-color: #1E506E !important;
} 

.wisteria-dark {
	background-color: #5D3370 !important;
}

.greensea-text {
	color: #23AF95 !important;
}

.nephritis-text {
	color: #38BB6B !important;
} 

.pumpkin-text {
	color: #DC6801 !important;
} 

.pomegranate-text {
	color: #CB4B32 !important;
} 

.belizehole-text {
	color: #3893CA !important;
} 

.wisteria-text {
	color: #9F58C0 !important;
}