.greensea {
	background-color: #23AF95 !important;
}

.nephritis {
	background-color: #38BB6B !important;
} 

.pumpkin {
	background-color: #DC6801 !important;
} 

.pomegranate {
	background-color: #CB4B32 !important;
} 

.belizehole {
	background-color: #3893CA !important;
} 

.wisteria {
	background-color: #9F58C0 !important;
}

.night {
	background-color: #101E55 !important;
}

.greensea-text {
	color: #23AF95 !important;
}

.nephritis-text {
	color: #38BB6B !important;
} 

.pumpkin-text {
	color: #DC6801 !important;
} 

.pomegranate-text {
	color: #CB4B32 !important;
} 

.belizehole-text {
	color: #3893CA !important;
} 

.wisteria-text {
	color: #9F58C0 !important;
}