@import url("flatcolors.css");

nav .navbar.navbar-default {
	padding: 0;
}

html, body, .container-fluid {
	height: 100%;
	overflow: hidden;
	padding: 0;
}

span, p {
	cursor: default;
}

::-webkit-scrollbar {
	border-right: 2px solid rgba(0, 0, 0, 0.1);
	border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.navbar {
	margin: 0;
	border: none;
	background-color: transparent;
	border-radius: 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	border: none;
	opacity: 0.85;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-default .navbar-nav > li {
	font-family: Open Sans;
	background-color: transparent;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 50px;
	cursor: default;
	transform: translate(0, 50px);

	-webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

.navbar-default .navbar-nav > .active {
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
	outline: none;
	transform: translate(0, 0);
}

.glyphicon.glyphicon-menu-left {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	cursor: pointer;
}

.glyphicon.glyphicon-menu-right {
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}

.nav-panel {
	display: table;
	opacity: 0.25;
	background-color: white;
	cursor: pointer;
	height: 100%;
}

.nav-panel > span {
	color: rgba(0, 0, 0, 0.4);
	font-size: 8em;
}

.colored {
	-webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

#nav-left span,
#nav-right span {
	transform: translate(0, 0);
	opacity: 0.6;

	-webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s ease;
}

#nav-left:hover span {
	transform: translate(-35px, 0);
	opacity: 1;
}

#body {
	padding-bottom: 100px;
}

#main {
	height: 100%;
	padding-bottom: 52px;
}

#nav-right:hover span {
	transform: translate(35px, 0);
	opacity: 1;
}

.main-content {
	height: 100% !important;
	overflow-y: auto !important;
	overflow-x: hidden;
}

.display {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

.content {
	color: white;
	background-color: transparent;
	padding: 15px;
}

.content hr {
	opacity: 0.4;
	margin: 5px 0 15px 0;
}
.content .center-content {
	position: relative; 
	transform: translateY(-50%); 
	top: 50%;
}

.content .content-header {
	font-weight: bold;
	font-family: Raleway;
	font-style: normal;
	font-variant: normal;
	font-size: large;
}

#select-panel-exp {
	display: block;
	text-align: center;
	width: 100%;
	float: bottom;
}

#select-panel-exp > div {
	display: inline;
	width: 30%;
	border-radius: 5px 5px 0 0;
	padding: 12px;
	border: 3px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
	font-size: xx-large !important;
}

.right-text {
	text-align: right !important;
}

.center-text {
	text-align: center !important;
}

.custom-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 35px;
	width: 90%;
}

.interactive-list li:hover,
.interactive-list li.active {
	background-color: rgba(0, 0, 0, 0.1);
}

.interactive-list li {
	cursor: pointer;
}

.text-vcenter {
	display: table-cell;
	vertical-align: middle;
}

.content .content-text {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	line-height: 23px;
	text-align: justify;
	padding-right: 10px;
}

.content-text > a {
	text-decoration: none;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 2px;
}

.content-text > a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.content.info {
	border-radius: 5px;
	border-left: 7px solid rgba(255, 255, 255, 0.1);
}

.right-bar {
	border-right: 7px solid rgba(255, 255, 255, 0.1);
}

.left-bar {
	border-left: 7px solid rgba(255, 255, 255, 0.1);
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.badge {
	font-size: medium;
	margin: 5px !important;
	background-color: rgba(0, 0, 0, 0.2);
	cursor: default;
}

.dark {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.text-dark {
	color: rgba(0, 0, 0, 0.2) !important;
}

.huge-text {
	line-height: 200px;
}

.small-text {
	font-size: x-small;
	margin-top: 25px;
}

.select-square {
	cursor: pointer;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transform: rotate(0deg);

	-webkit-transition: -webkit-transform 0.8s ease;
    -moz-transition: -moz-transform 0.8s ease;
    -o-transition: -o-transform 0.8s ease;
    transition: transform 0.8s ease;
}

.select-square:hover {
	transform: rotate(180deg);
}

.select-square.active {
	color: rgba(0, 0, 0, 0.1);
}

.circle {
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 5px auto;
	text-align: center;
}

/* Centering */
.circle > span {
	display:inline-block;
    line-height: 10vw;
    vertical-align: bottom;
}

.flat-button {
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	font-family: Open Sans;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	height: 35px;
	line-height: 35px;
	vertical-align: middle;
	width: 125px;
	cursor: pointer;
	background-color: #7E8C8D;
}

.flat-button.active {
	background-color: rgba(0, 0, 0, 0.2);
}

.icons-panel {
	padding: 15px;
}

.icons-panel > div {
	display: inline !important;
	padding: 0;
	text-align: center;
	float: none;
}

.icons-panel > div > span,
.icons-panel > div > a > span {
	width: 45%;
	padding-top: 10%;
	padding-bottom: 10%;
	cursor: pointer;
	margin-left: 2.5px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
}

.icons-panel a {
	text-decoration: none;
	color: white;
	outline: none;
}

.icons-panel .fa-code:hover,
.icons-panel .fa-code.active {
	background-color: #23AF95 !important;
}

.icons-panel .fa-music:hover,
.icons-panel .fa-music.active {
	background-color: #3893CA !important;
}

.icons-panel .fa-rocket:hover,
.icons-panel .fa-rocket.active {
	background-color: #CB4B32 !important;
}

.icons-panel .fa-camera:hover,
.icons-panel .fa-camera.active {
	background-color: #9F58C0 !important;
}

.icons-panel .fa-youtube-play:hover {
	background-color: #CC181E !important;
}

.icons-panel .fa-deviantart:hover {
	background-color: #04CC47 !important;
}

.icons-panel .fa-twitter:hover {
	background-color: #2FC2EF !important;
}

.icons-panel .fa-soundcloud:hover {
	background-color: #FF6600 !important; 
}

.full-height {
	height: 100% !important;
}

#profil {
	border: 5px solid rgba(255, 255, 255, 0.2);
	width: 10vw;
	height: auto;
}

.progress.vertical {
	position: relative;
    width: 30px;
    margin-bottom: 0;
    background-color: transparent;
    color: black;
   	border: none;
    box-shadow: none;
    min-height: 85px;
}

.progress-bar {
	background-color: rgba(0, 0, 0, 0.1);
}

.progress-bar.three-quarter {
	background-color: rgba(0, 0, 0, 0.3);
}

.progress-bar.one-quarter {
	background-color: rgba(0, 0, 0, 0.7);
}

.center-div {
	margin: 0 auto;
}

#footer {
	background-color: #3B5065;
	height: 100px;
}

.social-panel span {
	padding-right: 10px;
	padding-left: 10px;
	cursor: pointer;
}

#linkedin.circle {
	border-left: 7px solid rgba(255, 255, 255, 0.1);
	border-right: 0 solid white;
}

#linkedin.circle:hover {
	border-right: 7px solid rgba(25, 133, 188, 0.8);
	border-left: 0 solid white;
}

#linkedin.circle:hover span {
	color: #1985BC;
}

#github.circle {
	border-right: 7px solid rgba(255, 255, 255, 0.1);
	border-left: 0 solid white;
}

#github.circle:hover {
	border-left: 7px solid rgba(204, 34, 18, 0.8);
	border-right: 0 solid white;
}

#github.circle:hover span {
	color: #CC2212;
}

.social-panel .circle {
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.1);

	-webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

.social-panel .circle > a {
	text-decoration: none;
	color: white;
	outline: none;
}

/* Centering */
.social-panel .circle > a > span {
	display: inline;
	vertical-align: middle;
    line-height: 40px;

    -webkit-transition: 0.8s linear;
    -moz-transition: 0.8s linear;
    -o-transition: 0.8s linear;
    transition: 0.8s linear;
}

.extendable.badge {
	border-radius: 5px 0 0 5px;
	margin-right: 0 !important;
	cursor: pointer;
}

.extend.badge {
	display: inline-block;
	border-radius: 0 5px 5px 0;
	margin-left: -5px !important;
	background-color: rgba(255, 255, 255, 0.2);
}

.animation-come-left {
	animation-name: left-translation;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.animation-come-right {
	animation-name: right-translation;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
}

.animation-leave-left {
	animation-name: left-translation;
	animation-direction: reverse;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
}

.animation-leave-right {
	animation-name: right-translation;
	animation-direction: reverse;
	animation-duration: 0.6s;
	animation-timing-function: ease-in;
}

@keyframes right-translation {
	from {
		transform: translateX(100%);
		opacity: 0;
	} 

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes left-translation {
	from {
		transform: translateX(-100%);
		opacity: 0;
	} 

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.right-bar {
		border: none;
	}

	.left-bar {
		border: none;
	}

	.nav-panel > span {
		font-size: 4em;
	}

	#footer {
		height: 60px;
	}

	#footer .content > .content {
		margin-left: 10px;
	}

	#footer .content {
		padding: 3px;
	}

	#body {
		padding-bottom: 60px;
	}

	.content-text {
		font-size: x-small;
	}

	.info > div > .glyphicon,
	.info > div > .glyphicon > .content-text {
		font-size: 0.5em;
	}

}

@media (max-width: 767px) {

	.right-bar {
		border: none;
	}

	.left-bar {
		border: none;
	}

	.content {
		padding: 10px;
	}

	.info > div > .glyphicon,
	.info > div > .glyphicon > .content-text {
		font-size: 0.5em;
	}

	.content-text {
		font-size: x-small;
	}

	#footer {
		height: 60px;
	}

	#footer .content > .content {
		margin-left: 10px;
	}

	#footer .content {
		padding: 3px;
	}

	.content-text {
		font-size: x-small;
	}

	.nav-panel > span {
		font-size: 1em;
	}

	#nav-left {
		padding: 0;
	}

	#nav-right {
		padding: 0;
	}

	#body {
		padding-bottom: 60px;
	}

	#main {
		padding-bottom: 0;
	}

	.social-panel .circle {
		width: 30px;
		height: 30px;
	}

	.social-panel .circle > a > span {
	    line-height: 30px;
	}

	.progress.vertical {
	    width: 20px;
	}
}